@font-face {
    font-family: victormono;
    src: url('VictorMonoAll/TTF/VictorMono-Medium.ttf');
}

@font-face {
    font-family: victormono;
    font-style: italic;
    src: url('VictorMonoAll/TTF/VictorMono-Italic.ttf');
}

@font-face {
    font-family: victormono;
    font-style: oblique;
    src: url('VictorMonoAll/TTF/VictorMono-Oblique.ttf');
}

h1 {
    font-family: victormono;
    font-style: oblique;
    color: #FFF;
}

p {
    font-family: victormono;
    font-style: italic;
    color: azure;
    font-variant-ligatures: contextual;
}

i {
    font-family: victormono;
    font-style: italic;
    color: azure;
    font-variant-ligatures: normal;
}

body {
    background-image: url('img/desktop-1920x1080.jpg');
}

.center {
    margin:auto;
    margin-bottom: 20px;
    width: 50%;
    border: 3px solid mediumslateblue;
    padding: 10px;
    text-align: center;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: victormono;
    font-style: oblique;
    display: inline-block;
    font-size: 16px;
  }

.professional{
    background-color: darkslategray;
  }

