@font-face {
    font-family: victormono;
    src: url('VictorMonoAll/TTF/VictorMono-Medium.ttf');
}

@font-face {
    font-family: victormono;
    font-style: italic;
    src: url('VictorMonoAll/TTF/VictorMono-Italic.ttf');
}

@font-face {
    font-family: victormono;
    font-style: oblique;
    src: url('VictorMonoAll/TTF/VictorMono-Oblique.ttf');
}

h1 {
    font-family: victormono;
    font-style: oblique;
    color: #FFF;
}

p {
    font-family: victormono;
    font-style: italic;
    color: azure;
    font-variant-ligatures: contextual;
    background-color: darkslategray;
}

i {
    font-family: victormono;
    font-style: italic;
    color: azure;
    font-variant-ligatures: normal;
}

body {
    background-image: url('img/space-bg.jpg');
}
:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 350px;
  
    font-family: victormono;
    font-weight: 400;
    font-style: normal;
  }

main {
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
.center {
    margin:auto;
    margin-bottom: 20px;
    width: 50%;
    border: 3px solid mediumslateblue;
    padding: 10px;
    text-align: center;
    background-color: darkslategray;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: victormono;
    font-style: oblique;
    display: inline-block;
    font-size: 16px;
  }

.professional{
    background-color: darkslategray;
  }



canvas {
    position: fixed;
    top: 0;
    left: 0;
}